
.choiseVersion img{
    width: 90%;
}

.custom-color-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.custom-color-select img{
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    border: black 1px solid;
    border-radius: 10px;
}

.custom-color-select img:hover{
   
    transform: scale(1.05);
    width: 100%;
    cursor: pointer;
    transition: 200ms;
}

.select-car-please{
    display: flex;
    justify-content: center;
    height: 400px;
    padding-top: 100px;
}

.car-name{
    display: flex;
    justify-content: center;
    padding-top: 50px;

}
.next-step{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
    padding-bottom: 20px;
}

.carrousel-select{
    margin-bottom: 30px;

}


/* NAVBAR */
nav{
    position: relative;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    margin-top: 0;
    }
    
    nav ul li a{
        color: white;
        z-index: 2000;
        position: relative;
    }
    #logo{
        position: absolute;
        z-index: 1000;
     
    }
    #mobile-nav{
        z-index: 3000;
    }
    @media (min-width: 991px) {
        #logo{
            width: 20%; 
            margin: 0 40%; 
        }
        .itemDriving{
        height: 250px;
    }
     }
    
    /* HOME */
    
    .presentation{
        position: relative;
        margin-top: 2%;
    }
    .presentation img{
        width: 100%;
    }
    /* MENU */
    .menu{
        position: fixed;
        z-index: 1000;
    }
    .linkMenu{
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
        padding: 10%;
        text-align: left;
    
    }

    .linkMenu a{
        color: aliceblue;
    }

    .linkMenu:hover{
        transform: scale(1.03);
        transition: 200ms;
        background-color: rgba(0, 0, 0, 0.652);

    }

    .linkMenu-disable{
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
        padding: 10%;
        text-align: left;
   
    }

    .linkMenu-disable a{
        pointer-events: none;
        color: rgb(223, 40, 40);
    }

    @media (max-width: 890px) {
        .menu{
            top:10%;
            left: 70%;
        }
        .linkMenu{
            width: 200px;
        
        }
     }
    @media (min-width: 891px) {
        .menu{
            top:20%;
            left: 85%;
        }
        .linkMenu{
            width: 200px;
        
        }
     }
    /* VERSIONS */
    .versions{
        margin-top: 0%;
        padding: 5% 2%;
    }
    .card .card-image img{
    width: 80%;
    margin: 3% auto;
    }
    
    /* DRIVING */
    @media (min-width: 601px) {
       
        .itemDriving{
        height: 250px;
            }
     }
    .equipmentName{
        font-weight: bold;
    }

    .configurator{
        z-index: 1;
    }

    .configurator .presentation-version{
        position: relative;
        color: blanchedalmond;
        display: flex;
        justify-content: center;
        margin-bottom: -20%;
        padding-top: 10%;
        z-index: 2;
        font-family: 'Hall Fetica Narrow Italic', sans-serif;
        font-size: 60px;
        }

        .start-config-button{
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: -10%;
            z-index: 4;
        }

        .start-config-button button{
            
            z-index: 4;
           
            background-color: blanchedalmond;
            color: black;
            font-family: 'Hall Fetica Narrow Italic', sans-serif;
            font-size: 24px;

        }

        .start-config-button button:hover{
           background-color: rgb(49, 49, 49);
           color: blanchedalmond;
           transition: 300ms;
           transform : scale(1.05);
        }
        .presentation-info{

        font-family: 'Hall Fetica Narrow Italic', sans-serif;
        padding-left: 40px;
        margin-top: 20px;

        }
        .margin-config{
            margin-top: 10%;
        }
        .border-clean{
            border-top: grey 1px solid;
            width: 50%;
            margin-bottom: 40px;

        }
        .picture-technique{
            width: 100%;
            padding: 20px;
        }

        .picture-technique-perf{
            width: 100%;
        }